[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/emcee/ctype/ocrad.js/examples/browser/img/message.png
Type=Link
URL=file:///home/emcee/ctype/ocrad.js/examples/browser/img/message.png
Icon=image-png
